html,body, #main, #main>div {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 100%;
    overflow: hidden;
}

#main {
    overflow: auto;
}

#main>div {
    display: flex;
    flex-direction: column;
}

#chat-container{
    height:100%;
    width:100%;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction:column;
}

#chat-box{
    height:100%;
    width:100%;
    max-width: 800px;
    display: flex;
    flex-direction:column;
}

#chat-box >form{
    margin: 20px 0px 0px 0px;

}

#message-box{
    flex:1;
    overflow: auto;
    border-radius: 4px;
}

.section{
    display: flex;
    flex-direction:column;
    flex: 1;
}